body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail > img {
  height: 150px;
  width: 100%;
}

.thumbnail {
  margin-top: 20px;
}

#submitBtn {
  margin-top: 20px;
}

.dropdown-menu > li {
  cursor: pointer;
}
