body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.thumbnail > img {
  height: 150px;
  width: 100%;
}

.thumbnail {
  margin-top: 20px;
}

#submitBtn {
  margin-top: 20px;
}

#commentBtn {
  margin-top: 20px;
}
.glyphicon-comment {
  cursor: pointer;
}
.dropdown-menu > li {
  cursor: pointer;
}

#addComment {
  cursor: pointer;
}

.good {
  color: green;
}

.bad {
  color: red;
}
/*
.post.ng-enter {
  animation: fadeIn 1s;
}

.post.ng-leave {
  animation: fadeOut 1s;
}

.submit-form.ng-hide-remove {
  animation: zoomIn 1s;
}

.submit-form.ng-hide-add {
  animation: zoomOut 1s;*/
