extends layout

block content
  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      // Brand and toggle get grouped for better mobile display
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand Reddit Clone
      // Collect the nav links, forms, and other content for toggling
      #bs-example-navbar-collapse-1.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            button.btn.btn-default(class='glyphicon glyphicon-plus' ng-click='postForm()') Submit Post
        form.navbar-form.navbar-left(role='search')
          .form-group
            input.form-control(type='text', ng-model='search' placeholder='Search')
        ul.nav.navbar-left
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
              | Sort By {{sorting}}
              span.caret
            ul.dropdown-menu
              li(value='votes' ng-click="sort = '-votes'")
                a(ng-click="sortBy('Votes');") Votes
              li
                a(ng-click="sortBy('Dates')") Dates
              li
                a(ng-click="sortBy('Time')") Time
  .container
    .row
      .col-md-8.col-md-offset-2(ng-show='showForm' ng-cloak)
        form(name='formPost' novalidate)
          label(for='title') Title
          input.form-control(id='title' ng-class="{invalid: formPost.title.$error.required}" name='title' ng-model='title' placeholder="Enter Title" required)
          p.text-danger(ng-show="formPost.title.$error.required") Please Enter a Title
          label(for='author') Author
          input.form-control(id='author' ng-class="{invalid: formPost.author.$error.required}" name="author" ng-model='author' placeholder="Enter Author" required)
          p.text-danger(ng-show="formPost.author.$error.required") Please Enter a Title
          label(for="imageUrl") Image URL
          input.form-control(id='imageUrl' ng-class="{invalid: formPost.imageUrl.$error.required}" name="imageUrl" ng-model='imageUrl' placeholder="Enter Image URL" required)
          p.text-danger(ng-show="formPost.imageUrl.$error.required") Please Enter a Title
          label(for='description') Description
          input.form-control(id='description' ng-class="{invalid: formPost.description.$error.required}" name="description" ng-model='description' placeholder="Enter a description" required)
          p.text-danger(ng-show="formPost.description.$error.required") Please Enter a Title
          input.btn.btn-info(ng-disabled="formPost.$invalid" ng-click='submitPost(formPost.$valid)' value='Submit Post' id='submitBtn')
    .row(ng-repeat='post in posts | orderBy: sort | filter: search')
      .col-md-12
        .row
          .col-md-3
            .thumbnail
              img(ng-src="{{post.imageUrl}}")
          .col-md-9
            h3 {{post.title}} |
              i(ng-click='upvote()' class='glyphicon glyphicon-upload')
              i(ng-click='downvote()' class='glyphicon glyphicon-download') |
              span {{post.votes}}
            p.pull-right By: {{post.author}}
            .row
              .col-md-11
                p {{post.description}}
                p
                  i(class="glyphicon glyphicon-time")
                    | Time  |
                  i(class="glyphicon glyphicon-comment")
                    | Comments  |
                  i(id="addComment" class="glyphicon glyphicon-chevron-right" ng-click='commentForm()')
                    | Add Comment
        form(name='commentForm' ng-cloak ng-show='showCommentForm')
          
