doctype html
html(ng-app="redditClone")
  head
    title Reddit Clone
    link(rel='stylesheet', href='https://bootswatch.com/simplex/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-controller='CloneController')
    block content
    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/0.9.0/angular-moment.min.js")
    script(src="//code.jquery.com/jquery-1.11.3.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
    script(src='../javascripts/app.js')
    script(src='../javascripts/controllers.js')
