<div class="row">
  <div class="col-md-6 top-margin">
    <img "show-poster" class="pull-right" ng-src='{{movieInfo.Poster}}'>
  </div>
  <div class="col-md-6">
    <h1>{{movieInfo.Title}}</h1>
    <p class="lead">{{movieInfo.Plot}}</p>
    <h2>Additional Details</h2>
    <h3><span class="text-info">Director:</span> {{movieInfo.Director}}</h3>
    <h3><span class="text-primary">Release:</span> {{movieInfo.Released}}</h3>
    <h3><span class="text-success">Runtime:</span> {{movieInfo.Runtime}}</h3>
    <h3><span class="text-danger">Rated:</span> {{movieInfo.Rated}}</h3>
  </div>
</div>
